// CSS FILE
$primary-color: #ffffb3;
$secondary-color: #ffcc00;
$font-style: arial, sans-serif;

body {
    background-color: $primary-color;
    padding: 0;
    margin: 0;
    font-family: $font-style;
    width: 100%;
    height: 100%;
}

.page__content {
    display: flex;
    justify-content: center;
}

.slide-container {
    margin-top: 4.6%;
    margin-bottom: 4.6%;
}

.slide__btns {
    display: flex;
    justify-content: space-between;
}

.btns {
    cursor: pointer;
    font-weight: bold;
    background: black;
    border-radius: 100%;
    border: $secondary-color;
    padding: 10px;

    
    &--prev {

    }

    &--pause {

    }

    &--next {
        float: right;
    }
}

.fa__icons {
    color: $secondary-color;
}

.slide__img {
    height: 500px;
    width: 650px;
}